<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>

<title>Toppfotballsenterets Fotballab</title>

<link rel="stylesheet" type="text/css" href="styles/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="styles/jquery.ui.selectmenu.css">
<link rel="stylesheet" type="text/css" href="styles/jstree.css">
<link rel="stylesheet" type="text/css" href="styles/main.css">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans|Expletus+Sans">

<meta http-equiv="content-type" content="text/html; charset=utf-8">

<script type="text/javascript">

var baseUrl = '$!{baseUrl}';
var staticBaseUrl = '$!{staticBaseUrl}';

</script>

<script type="text/javascript" src="scripts/jquery.js"></script>
<script type="text/javascript" src="scripts/jquery-ui.js"></script>
<script type="text/javascript" src="scripts/jquery.ui.selectmenu.js"></script>
<script type="text/javascript" src="scripts/jquery.cookie.js"></script>
<script type="text/javascript" src="scripts/jquery.jstree.js"></script>
<script type="text/javascript" src="scripts/jquery.validate.js"></script>
<script type="text/javascript" src="scripts/messages_no.js"></script>
<script type="text/javascript" src="scripts/jquery.utils.js"></script>
<script type="text/javascript" src="scripts/flowplayer.js"></script>
<script type="text/javascript" charset="UTF-8" src="scripts/commons.js"></script>
<script type="text/javascript" charset="UTF-8" src="scripts/maintenance.js"></script>
<script type="text/javascript" charset="UTF-8" src="scripts/rules.js"></script>

</head>
	
<body>

<div id="content-container">
<div id="content">
