#parse( "header.vm" )

<script type="text/javascript">
$(document).ready( function() {
$( "#username" ).focus();
} );
</script>

<div style="position:relative;top:21px">
	
<div style="margin-top:20px;margin-bottom:40px;"><a href="references"><img src="images/logo.png" alt="Logo"></a></div>

<form name="f" action="/nf/j_spring_security_check" method="POST">
 <table>
    <tr><td>E-post</td><td><input type="text" id="username" name="j_username" style="width:250px"></td></tr>
    <tr><td>Passord</td><td><input type="password" id="password" name="j_password" style="width:250px"></td></tr>
    <tr><td><td><input name="submit" type="submit" value="Logg inn" style="width:100px"><input name="reset" type="reset" value="T&oslash;m felter" style="width:100px"></td></tr>
    <tr><td colspan="2" style="height:5px"></td></tr>
    <tr><td></td><td><a href="userRegistration">Lag ny bruker-konto</a> | <a href="userRestoreRequest">Glemt passord&#063;</a></td></tr>
  </table>
</form>

</div>

#parse( "footer.vm" )