
<table class="myTable">
#set( $columns = 4 )
	
#foreach( $tag in $clip.tags )
#set( $count = $velocityCount % $columns )
#if ( $count == 1 )<tr>#end
<td class="myItem" onclick="searchQuery( '${tag.name}' )" title="$!{tag.name}">$!{tag.getSubName( 28 )}</td>
#if ( $count == 0 )</tr>#end
#end
</table>
