#parse( "control.vm" )

<div style="position:relative; top:10px;">
	
<p class="title1">Spillelister</p>

<p><a href="playlist">Lag ny spilleliste</a></p>

<table width="800px">
<tr>
<th style="text-align:left">Navn</th>
<th style="text-align:center" colspan="2">Handling</th>
</tr>
#foreach( $playlist in $playlists )
<tr>
<td style="text-align:left">${playlist.name}</td>
<td style="width:30px;text-align:center"><a href="playlist?id=${playlist.id}"><img src="images/edit.png" alt="Oppdatere"></a></td>
<td style="width:30px;text-align:center"><a href="deletePlaylist?id=${playlist.id}"><img src="images/delete.png" alt="Slette"></a></td>
</tr>
#end
</table>

</div>

#parse( "footer.vm" )
