#parse( "header.vm" )

<script type="text/javascript">
$(document).ready( function() {
$( "#userForm" ).validate( { rules: validationRules.rules.user, messages: validationRules.messages.user } );
} );
</script>

<div style="position:relative; top:50px;">
	
<form id="userForm" method="post" action="registerUser">
	
<input type="hidden" name="id" value="$!{user.id}">

<p class="title1">Bruker</p>

<table width="600px">
<tr>
<th colspan="2" style="text-align:left">Detaljer</th>
</tr>
<tr>
<td>Brukernavn / e-post</td>
<td><input type="text" id="username" name="username" style="width:300px" value="$!{user.username}" autocomplete="off"></td>
</tr>
<tr>
<td>Passord</td>
<td><input type="password" id="password" name="password" style="width:300px" autocomplete="off"></td>
</tr>
<tr>
<td>Gjenta passord</td>
<td><input type="password" id="passwordRepeat" name="passwordRepeat" style="width:300px" autocomplete="off"></td>
</tr>
<tr>
<td>Fornavn</td>
<td><input type="text" id="firstname" name="firstname" style="width:300px" value="$!{user.firstname}"></td>
</tr>
<tr>
<td>Etternavn</td>
<td><input type="text" id="lastname" name="lastname" style="width:300px" value="$!{user.lastname}"></td>
</tr>
<tr>
<td></td>
<td><input type="submit" value="Lagre"></td>
</tr>
</table>

</form>
	
</div>

#parse( "footer.vm" )