#parse( "maintenance/control.vm" )

<script type="text/javascript">
$(document).ready( function() {
$( "#categoryForm" ).validate( { rules: validationRules.rules.category, messages: validationRules.messages.category } );
} );
</script>

<div style="position:relative; top:20px;">
	
<form id="categoryForm" method="post" action="saveCategory">
	
<input type="hidden" id="id" name="id" value="$!{category.id}">

<p class="title1">Kategori</p>

<table width="600px">
<tr>
<th colspan="2">Detaljer</th>
</tr>
<tr>
<td>Kode</td>
<td><input type="text" id="code" name="code" style="width:300px" value="$!{category.code}"></td>
</tr>
<tr>
<td>Navn</td>
<td><input type="text" id="name" name="name" style="width:300px" value="$!{category.name}"></td>
</tr>
<tr>
<td>Standard</td>
<td><select id="standard" name="standard" style="width:200px">
<option value="false">Nei</option>
<option value="true" #if( $category.standard )selected="selected"#end>Ja</option>
</select></td>
</tr>
<tr>
<td>Rot</td>
<td><select id="root" name="root" style="width:200px">
<option value="false">Nei</option>
<option value="true" #if( $category.root )selected="selected"#end>Ja</option>
</select></td>
</tr>
<tr>
<td>Hierarkisk</td>
<td><select id="marker" name="marker" style="width:200px">
<option value="false">Nei</option>
<option value="true" #if( $category.marker )selected="selected"#end>Ja</option>
</select></td>
</tr>
<tr>
<td></td>
<td><input type="submit" value="Lagre"><input type="button" onclick="window.location.href='listCategories'" value="Avbryt"></td>
</tr>
</table>

</form>
	
</div>

#parse( "footer.vm" )