#parse( "control.vm" )

<div id="maintenanceControl">

<a href="listCategories">Kategorier</a>&nbsp;|
<a href="listTeams">Lag</a>&nbsp;|
<a href="listEvents">Kamper</a>&nbsp;|
<a href="listPersons">Personer</a>&nbsp;|
<a href="users">Brukere</a>&nbsp;|
<a href="videoUpload">Video</a>&nbsp;|
<a href="documentUpload">Dokument</a>&nbsp;|
<a href="import">Import</a>&nbsp;|
<a href="statistics">Statistikk</a>&nbsp;|
<a href="meta">Kodelister</a>&nbsp;|
<a href="about">Om</a>

</div>
