#parse( "maintenance/control.vm" )

<div style="position:relative; top:50px;">

<p class="title1">Import</p>

<form method="post" action="importArchive" enctype="multipart/form-data">
	
<table width="600px">
	
<tr>
<td>Arkiv</td>
<td><input type="file" name="file"></td>
</tr>

<tr>
<td></td>
<td><input type="submit" value="Importer"></td>
</tr>
	
</table>

</form>

</div>

#parse( "footer.vm" )