#parse( "maintenance/control.vm" )

<script type="text/javascript">
$(document).ready( function() {
$( "#personForm" ).validate( { rules: validationRules.rules.person, messages: validationRules.messages.person } );
} );
</script>

<div style="position:relative; top:20px;">
	
<form id="personForm" method="post" action="savePerson">
	
<input type="hidden" name="id" value="$!{person.id}">

<p class="title1">Person</p>

<table width="600px">
<tr>
<th colspan="2">Detaljer</th>
</tr>
<tr>
<td>Kode</td>
<td><input type="text" id="code" name="code" style="width:300px" value="$!{person.code}"></td>
</tr>
<tr>
<td>Navn</td>
<td><input type="text" id="name" name="name" style="width:300px" value="$!{person.name}"></td>
</tr>
<tr>
<td></td>
<td><input type="submit" value="Lagre"><input type="button" onclick="window.location.href='listPersons'" value="Avbryt"></td>
</tr>
</table>

</form>
	
</div>

#parse( "footer.vm" )