#parse( "maintenance/control.vm" )

<script type="text/javascript">

$( document ).ready( function()
{
	initVideo();
} );

</script>

<div style="position:relative; top:20px;">

<p class="title1">Last opp video</p>

<form id="videoForm" method="post" action="uploadVideo" enctype="multipart/form-data">

<input type="hidden" id="id" name="id" value="$!{clip.id}">
<input type="hidden" id="code" name="code" value="$!{clip.code}">
<input type="hidden" id="filename" name="filename" value="$!{clip.filename}">

<table width="600px">

<tr>
<td>Lag</td>
<td><select name="teamId" style="width:300px">
<option value="0">[ Ingen ]</option>
#foreach( $team in $teams )
<option value="${team.id}"#if( $clip.team && $clip.team == $team ) selected="selected"#end>$team.name</option>
#end
</select></td>
</tr>

<tr>
<td>Kamp</td>
<td><select name="eventId" style="width:300px">
<option value="0">[ Ingen ]</option>
#foreach( $event in $events )
<option value="${event.id}"#if( $clip.event && $clip.event == $event ) selected="selected"#end>$event.name</option>
#end
</select></td>
</tr>

<tr>
<td>Tilgjengelige kategorier</td>
<td><input type="text" id="availableCategories" style="width:300px"></td>
</tr>
<tr>
<td>Valgte kategorier</td>
<td><select multiple id="selectedCategories" size="6" name="categoryIds" style="width:300px">
#foreach( $category in $!clip.clipCategories )
<option value="${category.identifier}">$category.description</option>
#end
</select></td>
</tr>
<tr>
<td></td>
<td><input type="button" value="Fjern valgte" style="width:150px" onclick="removeSelectedFromList( 'selectedCategories' )"></td>
</tr>

<tr>
<td>Tilgjengelige personer</td>
<td><input type="text" id="availablePersons" style="width:300px"></td>
</tr>
<tr>
<td>Valgte personer</td>
<td><select multiple id="selectedPersons" size="6" name="personIds" style="width:300px">
#foreach( $person in $!clip.persons )
<option value="${person.id}">$person.name</option>
#end
</select></td>
</tr>
<tr>
<td></td>
<td><input type="button" value="Fjern valgte" style="width:150px" onclick="removeSelectedFromList( 'selectedPersons' )"></td>
</tr>

<tr>
<td>Beskrivelse</td>
<td><textarea id="description" name="description" style="width:300px; height:100px">$!{clip.description}</textarea></td> 
</tr>

<tr>
<td>Videofil</td>
<td><input type="file" name="file"></td>
</tr>

<tr>
<td></td>
<td><input type="button" value="Lagre" onclick="submitVideo()"></td>
</tr>

</table>

</form>

</div>

#parse( "footer.vm" )