
/* Page */

body, table
{
  font-family: 'Droid Sans',sans-serif;
  font-size: 12px;
  margin: 0px;
  padding: 0px;
}

body
{
  background-color: #fcf9e1;
  background-color: #111111;
  text-align: center;
  color: #f8f8f8;
}

body a
{
  color: #f8f8f8;
}

div#control a, div#maintenanceControl a
{
  text-decoration: none;
  color: #f8f8f8;
}

div#control a:hover, div#maintenanceControl a:hover
{
  text-decoration: underline;
}

.title1
{
  font-family: 'Expletus Sans', Verdana;
  font-size: 26px;
}

.title2
{
  font-family: 'Expletus Sans', Verdana;
  font-size: 14px;
}

img
{
  border:none;
}

#content-container
{
  clear: left;
  float: left;
  width: 100%;
}

#content
{
  position: relative;
  margin: 0 auto;
  width: 1000px;
  text-align: left;
  padding-bottom: 50px;
}

table th
{
  text-align: left;
  font-weight: normal;
  font-family: 'Expletus Sans', Verdana;
  font-size: 14px;
}

.ui-autocomplete, .ui-selectmenu-menu
{
  text-align: left;
}

/* Top */

div#control
{
  position: relative;
  top: 0px;
  height: 22px;
  padding-top: 7px;
  padding-left: 8px;
  color: #ffffff;
}

div#maintenanceControl
{
  position: relative;
  top: 10px;
  padding-left: 8px;
  height: 20px;
  color: #ffffff;
}

div#logo
{
  position: relative;
  left: 0px;
  top: 12px;
  width: 240px;
}

div#header
{
  position: absolute;
  top: 35px;
  left: 250px;
  width: 680px;
  color: #ffffff;
}

/* Search */

div#search
{
  position: relative;
  top: 30px;
  left: 8px;
  width: 280px;
}

ul.clipList
{    
  list-style-type: none;
  width: 262px;
  margin: 0px;
  padding: 0px;
}

li.clipItem, li.documentItem
{
  color: #050505;
  width: 100%;
  margin-bottom: 3px;
  padding: 6px 1px 6px 3px;
  cursor: pointer;
  border: 1px solid #3e6d20;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* Box (parent) */

div.box
{
  display: block;
  position: absolute;
  top: 111px;
  left: 290px;
  width: 700px;
  height: 394px;
  border: 1px solid #b0b0b0;
}

/* Intro */

div#intro
{
  background-image: url(../images/intro.jpg);
  cursor: pointer;
}

/* Tree */

div#tree
{
  width: 670px;
  height: 364px;
  padding: 5px;
  display: block;
}

/* Video */

div#playerOptions, div#viewerOptions
{
  display: block;
  position: absolute;
  top: 515px;
  left: 290px;
  width: 700px;
  height: 28px;
}

div#playerEmbed, div#playerUrl, div#playerTags, div#playerComments, div#playerPlaylist, div#viewerEmbed
{
  display: none;
  position: absolute;
  top: 550px;
  left: 290px;
  width: 690px;
  border: 1px solid #b0b0b0;
  padding: 5px 5px 7px 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

div#playerComments
{
  height: auto;
  padding-bottom: 15px;
}

/* Document */

div#viewer
{
  background-color: #94cd95;
}

/* Playlist and Comment */

div.myInput
{
  margin-left: 5px;
  margin-top: 5px;
}

div.myHeader
{
  margin-left: 5px;
  margin-top: 10px;
  color: #4d7dae;
}

div.myBody
{
  margin-left: 5px;
  margin-top: 5px;
}  

.myTable
{
  margin-left: 4px;
  margin-top: 2px;
  padding-left: 0px;
  padding-top: 0px;
}

.myItem
{
  width: 158px;
  padding: 4px;
  margin: 0px;
  background-color: #dae1ed;
  border: 1px solid #808080;
  color: #111111;
  cursor: pointer;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.transparent
{
  opacity: 0.75;
  filter: alpha(opacity=75);
}

/* Paging */

div.paging
{
  margin-bottom: 10px;
  color: #f8f8f8;
}
